<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns="http://java.sun.com/xml/ns/javaee" 
         version="2.5" 
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"> 

	<display-name>Archetype Created Web Application</display-name>
	
	<servlet>
		<servlet-name>FrontController</servlet-name>
		<servlet-class>com.revature.controller.FrontController</servlet-class>
		<init-param>
			<param-name>email</param-name>
			<param-value>noname</param-value>
		</init-param>
		<init-param>
			<param-name>password</param-name>
			<param-value>nopass</param-value>
		</init-param>
	</servlet>

	<servlet-mapping>
		<servlet-name>FrontController</servlet-name>
		<url-pattern>/api/</url-pattern>
	</servlet-mapping>

	<filter>
		<filter-name>LoginFilter</filter-name>
		<filter-class>com.revature.controller.FrontController2</filter-class>
	</filter>

	<filter>
		<filter-name>LoginFilter2</filter-name>
		<filter-class>com.revature.controller.FrontController</filter-class>
	</filter>
	<filter>
		<filter-name>LoginFilter3</filter-name>
		<filter-class>com.revature.controller.FrontController</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>LoginFilter</filter-name>
		<url-pattern>/EmployeeLoginPage/*</url-pattern>
	</filter-mapping>

	<filter-mapping>
		<filter-name>LoginFilter2</filter-name>
		<url-pattern>/EmployeePage</url-pattern>
	</filter-mapping>

	<filter-mapping>
		<filter-name>LoginFilter3</filter-name>
		<url-pattern>/Reimbursement</url-pattern>
	</filter-mapping>

</web-app>

